<MudPaper Class="mud-height-full" Style="overflow:hidden; position:relative;">
    <MudDrawerContainer Class="mud-height-full d-flex flex-row pr-2">
        <MudDrawer @bind-Open="@open" Elevation="0" Variant="@DrawerVariant.Persistent">
            <MudNavMenu  Class="pa-2" Rounded="true" Color="Color.Primary" style="height: 100vh;">
                <MudText Typo="Typo.h6" Class="px-4">
                    <Logo/>
                </MudText>
                <MudText Typo="Typo.body2" Class="px-4 mud-text-secondary">Microgrid System</MudText>
                <MudDivider Class="my-2"/>
                <MudNavLink Href="/guide" Icon="@Icons.Material.Filled.TipsAndUpdates">Guide</MudNavLink>
                <MudNavLink Href="/microgrids" Icon="@Icons.Material.Filled.AutoAwesomeMotion">Microgrids</MudNavLink>
                <MudNavLink Href="/workspace" Icon="@Icons.Material.Filled.Dashboard">Workspace</MudNavLink>
                <MudNavLink Href="/dashboard" Icon="@Icons.Material.Filled.Leaderboard">Dashboard</MudNavLink>
                <MudNavLink Href="/whiteboard" Icon="@Icons.Material.Filled.DashboardCustomize">Whiteboard</MudNavLink>
                <MudNavGroup Title="Settings" Icon="@Icons.Material.Filled.Settings" Expanded="true">
                    <MudNavLink Href="/users">Users</MudNavLink>
                    <MudNavLink Href="/security">Security</MudNavLink>
                </MudNavGroup>
                <MudNavLink Href="/about" Icon="@Icons.Material.Filled.Camera">About</MudNavLink>
            </MudNavMenu>
        </MudDrawer>

        <div class="d-flex justify-center align-center">
            @if(open) {
                <MudIconButton Icon="@Icons.Material.Filled.ChevronLeft" OnClick="@ToggleDrawer" style="width: 4px; height: 4px; margin: 0px;"></MudIconButton>
            } else {
                <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="@ToggleDrawer" style="width: 4px; height: 4px; margin: 0px;"></MudIconButton>
            }
        </div>
    </MudDrawerContainer>
</MudPaper>

@code
{
    bool open = true;

    void ToggleDrawer()
    {
        open = !open;
    }
}